:root {
  --aside-color: #000000;
  --head-color: #080b12;
  --main-color: #141922;
  --footer-color: #282828;
  --font-gray: #7b7e82;
  --line-hover: #adff2f;
  --primary-f: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-f);
}

/* main */
.main-container {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
}
.main-nav {
  width: 15%;
  height: calc(100vh - 75px);
  background-color: var(--aside-color);
}

.main-view {
  width: 85%;
  height: 100%;
  background-color: var(--main-color);
}

.main-view-top {
  width: 100%;
  height: 60px;
  background-color: var(--head-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrate {
  border: 1px solid var(--primary-f);
  color: var(--primary-f);
  border-radius: 20px;
  padding: 7px 30px;
  margin-right: 25px;
  text-decoration: none;
}
/* End main */

#logo-big {
  width: 100px;
}
/* main-nav */

.nav-item {
  margin: 3px 0;
  opacity: 80%;
  transition: 1s;
}

li.nav-item {
  list-style: none;
}

.nav-item-icon {
  width: 20px;
}

.nav-item-name {
  text-decoration: none;
  color: var(--font-gray);
  display: inline-block;
  margin: 0 4px;
}

.nav-menu {
  margin: 15px 0;
}

.small-text {
  font-size: 12px;
}

.nav-playlists {
  display: block;
  margin-top: 15px;
  width: 200px;
}
.new-playlist-button {
  background-color: var(--font-gray);
  color: var(--aside-color);
  padding: 4px 7px;
}

.medium-text {
  font-size: 13px;
}

.uppercase {
  text-transform: uppercase;
}
.new-playlist {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.playlist-container .playlist {
  margin: 8px 0;
}

.playlist-name {
  text-decoration: none;
  color: var(--font-gray);
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.top {
  width: 100%;
  height: 80%;
}

.bottom {
  width: 100%;
  height: 20%;
}

#download img {
  width: 15px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: text-top;
}

#profile img {
  background-color: #7f7f7f;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  vertical-align: middle;
}
/* End main-nav */

/* footer */
.site-footer {
  width: 100%;
  height: 75px;
  background-color: var(--footer-color);
}
